


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  url("/home/tanyasharma/Faircent/Faircent_project/Frontend/views/1311077.webp");
  background-repeat:no-repeat;
  background-size: cover;
  background: linear-gradient(135deg,#9cc8d6, #f8f3ef, );
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
